:root {
    --primary-color: #08223C;
    --secondary-color: #dc143c;
    --white-color: #fff;
    --light-gray-color: rgb(226, 225, 225);
    --gap: 3rem;
    --padding-bottom: 5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open sans', sans-serif;
    font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-weight: 700;
    font-size: 5.5rem;
    text-transform: uppercase;
    padding-bottom: var(--gap);
}

h3 {
    font-size: 4.8rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

a {
    text-decoration: none;
}

p {
    padding-bottom: var(--gap);
    line-height: 1.6;
    font-size: 1.8rem;
}

.section {
    min-height: 100vh;
    padding-top: var(--gap);
}

.main-bg {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.white-bg {
    background-color: var(--white-color);
    color: var(--primary-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}