.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: var(--white-color);
    border-bottom: 0.15rem solid var(--light-gray-color);
}

.menu div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 var(--gap);
}

.menu h1 {
    font-size: 2.3rem;
}

.menu nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu a {
    display: block;
    color: var(--primary-color);
    padding: 2rem;
    height: 6rem;
    position: relative;
}

.menu nav a::after {
    content: "";
    position: absolute;
    bottom: 1.2rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;
}

.menu nav a:hover::after {
    width: 50%;
    left: 25%;
}