.sec-one {
    background-image: url('../img/world-map.svg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.sec-content-grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.sec-text,
.sec-img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.sec-img {
    max-width: 52rem;
}

.sec-text h2 {
    text-align: center;
}

.sec-text p {
    text-align: justify;
}

.intro {
    display: grid;
    align-content: center;
    text-align: center;

}

.intro h2 {
    padding-bottom: var(--padding-bottom);
    max-width: 100rem;
    margin: 0 auto;
}

.intro-text {
    max-width: 70rem;
    margin: 0 auto;
}

.intro-text p {
    line-height: 2.2;
}

.sec-three {
    background-image: url('../img/hexagon.svg');
    background-size: cover;
    display: grid;
    align-content: center;
}

.sec-three-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    text-align: justify;
    counter-reset: grid-counter;
}

.sec-three-grid h3 {
    position: relative;
    padding-left: 5rem;
}

.sec-three-grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-weight: 900;
    top: -3rem;
    left: -1rem;
    font-style: italic;
    transform: rotate(5deg);
}

.sec-three-grid a {
    color: var(--white-color);
    padding-bottom: 1rem;
    position: relative;
}

.sec-three-grid a::after {
    content: "";
    position: absolute;
    bottom: 1.2rem;
    left: 0;
    width: 100%;
    height: 0.5rem;
    opacity: 0;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;
}

.sec-three-grid a:hover::after {
    opacity: 1;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--gap);
}

.gallery-grid div {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-grid img {
    transition: all 300ms ease-in-out;
}

.gallery-grid img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

.pricing {
    display: flex;
    align-items: center;
}

.pricing-content {
    display: block;
    max-width: 100%;
}

.pricing-text {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.pricing-table {
    max-width: 100%;
    overflow-x: auto;
}

.contact-form {
    grid-column: span 2;
}

.contact-form .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.form-grid legend {
    font-style: italic;
    margin-bottom: 3rem;
}

.form-group {
    flex: 1 1 32rem;
}

.form-group label {
    display: block;
    margin-bottom: 1rem;
}

.form-group input,
.form-group textarea {
    border: none;
    background: var(--white-color);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 2rem;
    outline: none;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group button:focus {
    box-shadow: 0 0 0.5rem 0.2rem var(--secondary-color);
}

.form-group ::placeholder {
    font-size: 1.6rem;
}

.form-group button {
    border: 0.5rem solid var(--white-color);
    background: none;
    color: var(--white-color);
    padding: 1.5rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    outline: none;
}

.form-group button:hover {
    background: var(--white-color);
    color: var(--primary-color);
}

.form-group.full-box {
    flex: 1 1 100%;
}

#footer {
    text-align: center;
    color: var(--primary-color);
    margin: 0;
    padding: var(--gap);
}

.heart {
    color: var(--secondary-color);
}

.close-menu {
    display: none;
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--primary-color);
    color: var(--white-color);
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 0.1rem solid var(--white-color);
}

@media (max-width: 534px) {
    h2 {
        font-size: 7vw;
    }

    h3 {
        font-size: 6vw;
    }

    p {
        font-size: 3vw;
    }

    .form-group button {
        font-size: 3.5vw;
    }

    fieldset,
    footer {
        font-size: 2.5vw;
    }

    .sec-three-grid h3 {
        padding-left: 7vw;
    }

    .sec-three-grid h3::before {
        font-size: 12vw;
    }

    .menu {
        bottom: 0;
        display: none;
    }

    .menu div {
        height: 100vh;
    }

    .menu div,
    .menu div ul {
        flex-direction: column;
        justify-content: center;
    }

    .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background: var(--primary-color);
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.3rem;
        cursor: pointer;
    }

    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        content: '×';
    }

    .sec-content-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        align-content: center;
        gap: 0;
    }

    .sec-three-grid {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    .gallery-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .contact-form {
        grid-column: 1;
    }
}

@media (min-width: 535px) and (max-width: 754px) {
    h2 {
        font-size: 7vw;
    }

    h3 {
        font-size: 6vw;
    }

    p {
        font-size: 3vw;
    }

    .form-group button {
        font-size: 3.5vw;
    }

    fieldset,
    footer {
        font-size: 2.5vw;
    }

    .sec-three-grid h3 {
        padding-left: 6vw;
    }

    .sec-three-grid h3::before {
        font-size: 10vw;
    }

    .menu {
        bottom: 0;
        display: none;
    }

    .menu div {
        height: 100vh;
    }

    .menu div,
    .menu div ul {
        flex-direction: column;
        justify-content: center;
    }

    .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background: var(--primary-color);
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.3rem;
        cursor: pointer;
    }

    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        content: '×';
    }

    .sec-content-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        align-content: center;
        gap: 0;
    }

    .sec-three-grid {
        grid-template-columns: auto;
        grid-template-rows: auto;
        padding: 0 8rem;
    }

    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .contact-form {
        grid-column: 1;
    }

}

@media (min-width: 755px) and (max-width: 1080px) {
    .sec-one {
        background-position: center center;
    }

    .sec-three-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .sec-three-grid article:nth-child(3) {
        grid-column: span 2;
        padding: 0 10rem;
    }
}